In [1]:
# Merging One
%matplotlib notebook

# Dependencies
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Take in all of our data and read it into pandas, change to DataFrame, select only 20y
gpd_growth_data= os.path.join("Resources/API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_713083.csv")
gpd_growth_df=pd.read_csv(gpd_growth_data, skiprows=4)
gdp_growth20y_df = gpd_growth_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#gdp_growth20y_df.head()

# Melt
gdp_growth20y_dfm = gdp_growth20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
#gdp_growth20y_dfm.head()

gdp_growth20y_dfm=gdp_growth20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"GDP Growth (% Annual)"})
gdp_growth20y_dfm=gdp_growth20y_dfm.drop(columns="Indicator Name")
gdp_growth20y_dfm.head()

  Country Name  Year  GDP Growth (% Annual)
0        Aruba  1998               1.991988
1  Afghanistan  1998                    NaN
2       Angola  1998               4.691146
3      Albania  1998               8.830088
4      Andorra  1998               3.194790

In [3]:
# Take in all of our data and read it into pandas, change to DataFrame, select only 20y
gpd_per_capita_data= os.path.join("Resources/API_NY.GDP.PCAP.KD.ZG_DS2_en_csv_v2_712993.csv")
gpd_per_capita_df=pd.read_csv(gpd_per_capita_data, skiprows=4)
gdp_pc20y_df = gpd_per_capita_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#gdp_pc20y_df.head()
# Melt
gdp_pc20y_dfm = gdp_pc20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
#gdp_pc20y_dfm.head()

gdp_pc20y_dfm=gdp_pc20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"GDP Per Capita"})
gdp_pc20y_dfm=gdp_pc20y_dfm.drop(columns="Indicator Name")
gdp_pc20y_dfm.head()

  Country Name  Year  GDP Per Capita
0        Aruba  1998       -0.141877
1  Afghanistan  1998             NaN
2       Angola  1998        1.364724
3      Albania  1998        9.517153
4      Andorra  1998        3.492427

In [4]:
# Merge two dataframes using a left join
merge_gdp = pd.merge(gdp_growth20y_dfm, gdp_pc20y_dfm, on=["Country Name", "Year"], how="left")
merge_gdp.head()

  Country Name  Year  GDP Growth (% Annual)  GDP Per Capita
0        Aruba  1998               1.991988       -0.141877
1  Afghanistan  1998                    NaN             NaN
2       Angola  1998               4.691146        1.364724
3      Albania  1998               8.830088        9.517153
4      Andorra  1998               3.194790        3.492427

In [5]:
# Take in all of our data and read it into pandas, change to DataFrame, select only 20y
access_electricity_data= os.path.join("Resources/API_EG.ELC.ACCS.ZS_DS2_en_csv_v2_714075.csv")
access_electricity_df=pd.read_csv(access_electricity_data, skiprows=4)
access_electricity20y_df = access_electricity_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#access_electricity20y_df.head()
# Melt
access_electricity20y_dfm = access_electricity20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
#access_electricity20y_dfm.head()

access_electricity20y_dfm=access_electricity20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Access to Electricity (% population)"})
access_electricity20y_dfm=access_electricity20y_dfm.drop(columns="Indicator Name")
access_electricity20y_dfm.head()

  Country Name  Year  Access to Electricity (% population)
0        Aruba  1998                                 100.0
1  Afghanistan  1998                                   NaN
2       Angola  1998                                   NaN
3      Albania  1998                                 100.0
4      Andorra  1998                                 100.0

In [6]:
# Merge two dataframes using a left join
merge_gdp_elec = pd.merge(merge_gdp, access_electricity20y_dfm, on=["Country Name", "Year"], how="left")
merge_gdp_elec.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population)
0,Aruba,1998,1.991988,-0.141877,100.0
1,Afghanistan,1998,NaN,NaN,NaN
2,Angola,1998,4.691146,1.364724,NaN
3,Albania,1998,8.830088,9.517153,100.0
4,Andorra,1998,3.194790,3.492427,100.0

In [7]:
# Agricultural land (% of land area)
perc_agric_land_data= os.path.join("Resources/API_AG.LND.AGRI.ZS_DS2_en_csv_v2_713399.csv")
perc_agric_land_df=pd.read_csv(perc_agric_land_data, skiprows=4)
perc_agric_land20y_df = perc_agric_land_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
perc_agric_land20y_dfm = perc_agric_land20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
perc_agric_land20y_dfm = perc_agric_land20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Agricultural land (% land area)"})
perc_agric_land20y_dfm = perc_agric_land20y_dfm.drop(columns="Indicator Name")
#perc_agric_land20y_dfm.head()

# Merging to previous dataframes using a left join
merge_gdp_elec_agri = pd.merge(merge_gdp_elec, perc_agric_land20y_dfm, on=["Country Name", "Year"], how="left")
merge_gdp_elec_agri.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area)
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111
1,Afghanistan,1998,NaN,NaN,NaN,58.001716
2,Angola,1998,4.691146,1.364724,NaN,46.121761
3,Albania,1998,8.830088,9.517153,100.0,41.569343
4,Andorra,1998,3.194790,3.492427,100.0,48.936170

In [8]:
# Bird species (threatened)
bird_threaten_data= os.path.join("Resources/API_EN.BIR.THRD.NO_DS2_en_csv_v2_715614.csv")
bird_threaten_df=pd.read_csv(bird_threaten_data, skiprows=4)

bird_threaten20y_df = bird_threaten_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
bird_threaten20y_dfm = bird_threaten20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
bird_threaten20y_dfm = bird_threaten20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Bird species threatened"})
bird_threaten20y_dfm = bird_threaten20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_gdp_elec_agri_bird = pd.merge(merge_gdp_elec_agri, bird_threaten20y_dfm, on=["Country Name", "Year"], how="left")
merge_gdp_elec_agri_bird.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN

In [9]:
# CO2 emissions (kt)
CO2_emissions_data= os.path.join("Resources/API_EN.ATM.CO2E.KT_DS2_en_csv_v2_713263.csv")
CO2_emissions_df=pd.read_csv(CO2_emissions_data, skiprows=4)

CO2_emissions20y_df = CO2_emissions_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
CO2_emissions20y_dfm = CO2_emissions20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
CO2_emissions20y_dfm = CO2_emissions20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"CO2 emissions (kt)"})
CO2_emissions20y_dfm = CO2_emissions20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_gdp_elec_agri_bird_co = pd.merge(merge_gdp_elec_agri_bird, CO2_emissions20y_dfm, on=["Country Name", "Year"], how="left")
merge_gdp_elec_agri_bird_co.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt)
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378

In [10]:
# CO2 emissions (metric tons per capita)
CO2_emissions_mtpc_data= os.path.join("Resources/API_EN.ATM.CO2E.PC_DS2_en_csv_v2_713061.csv")
CO2_emissions_mtpc_df=pd.read_csv(CO2_emissions_mtpc_data, skiprows=4)

CO2_emissions_mtpc20y_df = CO2_emissions_mtpc_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
CO2_emissions_mtpc20y_dfm = CO2_emissions_mtpc20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
CO2_emissions_mtpc20y_dfm = CO2_emissions_mtpc20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"CO2 emissions (metric tons per capita)"})
CO2_emissions_mtpc20y_dfm = CO2_emissions_mtpc20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_gdp_elec_agri_bird_co_co = pd.merge(merge_gdp_elec_agri_bird_co, CO2_emissions_mtpc20y_dfm, on=["Country Name", "Year"], how="left")
merge_gdp_elec_agri_bird_co_co.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita)
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784

In [11]:
# Droughts, floods, extreme temperatures (% of population)
droughts_floods_exttemp_data= os.path.join("Resources/API_EN.CLC.MDAT.ZS_DS2_en_csv_v2_713688.csv")
droughts_floods_exttemp_df=pd.read_csv(droughts_floods_exttemp_data, skiprows=4)

droughts_floods_exttemp20y_df = droughts_floods_exttemp_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
droughts_floods_exttemp20y_dfm = droughts_floods_exttemp20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
droughts_floods_exttemp20y_dfm = droughts_floods_exttemp20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Droughts, floods, extreme temp (% population)"})
droughts_floods_exttemp20y_dfm = droughts_floods_exttemp20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_droughts = pd.merge(merge_gdp_elec_agri_bird_co_co, droughts_floods_exttemp20y_dfm, on=["Country Name", "Year"], how="left")
merge_droughts.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)"
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN

In [12]:
# Energy use per capita
energ_use_pc_data= os.path.join("Resources/API_EG.USE.PCAP.KG.OE_DS2_en_csv_v2_715552.csv")
energ_use_pc_df=pd.read_csv(energ_use_pc_data, skiprows=4)

energ_use_pc20y_df = energ_use_pc_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
energ_use_pc20y_dfm = energ_use_pc20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
energ_use_pc20y_dfm = energ_use_pc20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Energy use per capita"})
energ_use_pc20y_dfm = energ_use_pc20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_eupc = pd.merge(merge_droughts, energ_use_pc20y_dfm, on=["Country Name", "Year"], how="left")
merge_eupc.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",Energy use per capita
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,NaN
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,NaN
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,433.882495
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,426.682819
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,NaN

In [13]:
# Forest area (% of land area)
perc_forest_area_data= os.path.join("Resources/API_AG.LND.FRST.ZS_DS2_en_csv_v2_712984.csv")
perc_forest_area_df=pd.read_csv(perc_forest_area_data, skiprows=4)

perc_forest_area20y_df = perc_forest_area_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
perc_forest_area20y_dfm = perc_forest_area20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
perc_forest_area20y_dfm = perc_forest_area20y_dfm.rename(columns={"Country Name":"Country Name",
                                                                  "variable":"Year","value":"Forest Area (% of land)"})

perc_forest_area20y_dfm = perc_forest_area20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_forest_area = pd.merge(merge_eupc, perc_forest_area20y_dfm, on=["Country Name", "Year"], how="left")
merge_forest_area.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",Energy use per capita,Forest Area (% of land)
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,NaN,2.333333
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,NaN,2.067825
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,433.882495,48.109089
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,426.682819,28.218979
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,NaN,34.042553

In [14]:
# Forest area (sq. km)
forest_area_data= os.path.join("Resources/API_AG.LND.FRST.K2_DS2_en_csv_v2_716262.csv")
forest_area_df=pd.read_csv(forest_area_data, skiprows=4)

forest_area20y_df = forest_area_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
forest_area20y_dfm = forest_area20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
forest_area20y_dfm = forest_area20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Forest area (sq.km)"})
forest_area20y_dfm = forest_area20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_forest_sqkm = pd.merge(merge_forest_area, forest_area20y_dfm, on=["Country Name", "Year"], how="left")
merge_forest_sqkm.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",Energy use per capita,Forest Area (% of land),Forest area (sq.km)
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,NaN,2.333333,4.200000
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,NaN,2.067825,13500.000000
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,433.882495,48.109089,599776.015625
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,426.682819,28.218979,7732.000122
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,NaN,34.042553,160.000000

In [15]:
# GINI
gini_data= os.path.join("Resources/API_SI.POV.GINI_DS2_en_csv_v2_713026.csv")
gini_df=pd.read_csv(gini_data, skiprows=4)

gini20y_df = gini_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
gini20y_dfm = gini20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
gini20y_dfm = gini20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"GINI"})
gini20y_dfm = gini20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_gini = pd.merge(merge_forest_sqkm, gini20y_dfm, on=["Country Name", "Year"], how="left")
merge_gini.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",Energy use per capita,Forest Area (% of land),Forest area (sq.km),GINI
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,NaN,2.333333,4.200000,NaN
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,NaN,2.067825,13500.000000,NaN
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,433.882495,48.109089,599776.015625,NaN
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,426.682819,28.218979,7732.000122,NaN
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,NaN,34.042553,160.000000,NaN

In [16]:
# Life expectancy Female
life_exp_female_data= os.path.join("Resources/API_SP.DYN.LE00.FE.IN_DS2_en_csv_v2_718212.csv")
life_exp_female_df=pd.read_csv(life_exp_female_data, skiprows=4)

life_exp_female20y_df = life_exp_female_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
life_exp_female20y_dfm = life_exp_female20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
life_exp_female20y_dfm = life_exp_female20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Life Expectancy Female"})
life_exp_female20y_dfm = life_exp_female20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_lefemale = pd.merge(merge_gini, life_exp_female20y_dfm, on=["Country Name", "Year"], how="left")
merge_lefemale.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",Energy use per capita,Forest Area (% of land),Forest area (sq.km),GINI,Life Expectancy Female
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,NaN,2.333333,4.200000,NaN,76.192
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,NaN,2.067825,13500.000000,NaN,56.162
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,433.882495,48.109089,599776.015625,NaN,47.893
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,426.682819,28.218979,7732.000122,NaN,76.269
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,NaN,34.042553,160.000000,NaN,NaN

In [17]:
# Life expectancy at birth
life_expc_ab_data= os.path.join("Resources/API_SP.DYN.LE00.IN_DS2_en_csv_v2_713010.csv")
life_expc_ab_df=pd.read_csv(life_expc_ab_data, skiprows=4)

life_expc_ab20y_df = life_expc_ab_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
life_expc_ab20y_dfm = life_expc_ab20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
life_expc_ab20y_dfm = life_expc_ab20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Life Expectancy at Birth"})
life_expc_ab20y_dfm = life_expc_ab20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_le_atb = pd.merge(merge_lefemale, life_expc_ab20y_dfm, on=["Country Name", "Year"], how="left")
merge_le_atb.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",Energy use per capita,Forest Area (% of land),Forest area (sq.km),GINI,Life Expectancy Female,Life Expectancy at Birth
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,NaN,2.333333,4.200000,NaN,76.192,73.700
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,NaN,2.067825,13500.000000,NaN,56.162,54.906
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,433.882495,48.109089,599776.015625,NaN,47.893,45.763
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,426.682819,28.218979,7732.000122,NaN,76.269,73.208
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,NaN,34.042553,160.000000,NaN,NaN,NaN

In [18]:
# Methane emissions (kt of CO2 equivalent)
methane_emissions_data= os.path.join("Resources/API_EN.ATM.METH.KT.CE_DS2_en_csv_v2_717026.csv")
methane_emissions_df=pd.read_csv(methane_emissions_data, skiprows=4)

methane_emissions20y_df = methane_emissions_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
methane_emissions20y_dfm = methane_emissions20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
methane_emissions20y_dfm  = methane_emissions20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Methane emissions (kt of CO2 equivalent)"})
methane_emissions20y_dfm  = methane_emissions20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_methane = pd.merge(merge_le_atb, methane_emissions20y_dfm, on=["Country Name", "Year"], how="left")
merge_methane.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",Energy use per capita,Forest Area (% of land),Forest area (sq.km),GINI,Life Expectancy Female,Life Expectancy at Birth,Methane emissions (kt of CO2 equivalent)
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,NaN,2.333333,4.200000,NaN,76.192,73.700,17.3478
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,NaN,2.067825,13500.000000,NaN,56.162,54.906,9700.1700
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,433.882495,48.109089,599776.015625,NaN,47.893,45.763,16087.0000
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,426.682819,28.218979,7732.000122,NaN,76.269,73.208,2371.4900
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,NaN,34.042553,160.000000,NaN,NaN,NaN,NaN

In [19]:
# Population growth (annual %)
pop_grow_data= os.path.join("Resources/API_SP.POP.GROW_DS2_en_csv_v2_715046.csv")
pop_grow_df=pd.read_csv(pop_grow_data, skiprows=4)

pop_grow20y_df = pop_grow_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
pop_grow20y_dfm = pop_grow20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
pop_grow20y_dfm = pop_grow20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Population growth (annual)"})
pop_grow20y_dfm = pop_grow20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_popgrow = pd.merge(merge_methane, pop_grow20y_dfm, on=["Country Name", "Year"], how="left")
merge_popgrow.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",Energy use per capita,Forest Area (% of land),Forest area (sq.km),GINI,Life Expectancy Female,Life Expectancy at Birth,Methane emissions (kt of CO2 equivalent),Population growth (annual)
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,NaN,2.333333,4.200000,NaN,76.192,73.700,17.3478,2.114386
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,NaN,2.067825,13500.000000,NaN,56.162,54.906,9700.1700,1.947319
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,433.882495,48.109089,599776.015625,NaN,47.893,45.763,16087.0000,3.228941
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,426.682819,28.218979,7732.000122,NaN,76.269,73.208,2371.4900,-0.629334
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,NaN,34.042553,160.000000,NaN,NaN,NaN,NaN,-0.288007

In [20]:
# Population Total
pop_total_data= os.path.join("Resources/API_SP.POP.TOTL_DS2_en_csv_v2_713131.csv")
pop_total_df=pd.read_csv(pop_total_data, skiprows=4)

pop_total20y_df = pop_total_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
pop_total20y_dfm = pop_total20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
pop_total20y_dfm = pop_total20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Population Total"})
pop_total20y_dfm = pop_total20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_pop_tot = pd.merge(merge_popgrow, pop_total20y_dfm, on=["Country Name", "Year"], how="left")
merge_pop_tot.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",Energy use per capita,Forest Area (% of land),Forest area (sq.km),GINI,Life Expectancy Female,Life Expectancy at Birth,Methane emissions (kt of CO2 equivalent),Population growth (annual),Population Total
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,NaN,2.333333,4.200000,NaN,76.192,73.700,17.3478,2.114386,87277.0
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,NaN,2.067825,13500.000000,NaN,56.162,54.906,9700.1700,1.947319,19737765.0
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,433.882495,48.109089,599776.015625,NaN,47.893,45.763,16087.0000,3.228941,15359601.0
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,426.682819,28.218979,7732.000122,NaN,76.269,73.208,2371.4900,-0.629334,3128530.0
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,NaN,34.042553,160.000000,NaN,NaN,NaN,NaN,-0.288007,64142.0

In [21]:
# Renewable energy consumption (% of total final energy consumption)
renew_energy_consumpt_data= os.path.join("Resources/API_EG.FEC.RNEW.ZS_DS2_en_csv_v2_716974.csv")
renew_energy_consumpt_df=pd.read_csv(renew_energy_consumpt_data, skiprows=4)

renew_energy_consumpt20y_df = renew_energy_consumpt_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
renew_energy_consumpt20y_dfm = renew_energy_consumpt20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
renew_energy_consumpt20y_dfm = renew_energy_consumpt20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Renewable energy consumption (% of total energy consump)"})
renew_energy_consumpt20y_dfm = renew_energy_consumpt20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_renew = pd.merge(merge_pop_tot, renew_energy_consumpt20y_dfm, on=["Country Name", "Year"], how="left")
merge_renew.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",Energy use per capita,Forest Area (% of land),Forest area (sq.km),GINI,Life Expectancy Female,Life Expectancy at Birth,Methane emissions (kt of CO2 equivalent),Population growth (annual),Population Total,Renewable energy consumption (% of total energy consump)
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,NaN,2.333333,4.200000,NaN,76.192,73.700,17.3478,2.114386,87277.0,0.157876
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,NaN,2.067825,13500.000000,NaN,56.162,54.906,9700.1700,1.947319,19737765.0,44.094337
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,433.882495,48.109089,599776.015625,NaN,47.893,45.763,16087.0000,3.228941,15359601.0,76.819794
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,426.682819,28.218979,7732.000122,NaN,76.269,73.208,2371.4900,-0.629334,3128530.0,49.983365
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,NaN,34.042553,160.000000,NaN,NaN,NaN,NaN,-0.288007,64142.0,14.458642

In [22]:
# Total greenhouse gas emissions (kt of CO2 equivalent)
total_ghge_data= os.path.join("Resources/API_EN.ATM.GHGT.KT.CE_DS2_en_csv_v2_717015.csv")
total_ghge_df=pd.read_csv(total_ghge_data, skiprows=4)

total_ghge20y_df = total_ghge_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
total_ghge20y_dfm = total_ghge20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
total_ghge20y_dfm = total_ghge20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Total greenhouse gas emission (kt of CO2 equivalent)"})
total_ghge20y_dfm = total_ghge20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_greenhouse = pd.merge(merge_renew, total_ghge20y_dfm, on=["Country Name", "Year"], how="left")
merge_greenhouse.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",...,Forest Area (% of land),Forest area (sq.km),GINI,Life Expectancy Female,Life Expectancy at Birth,Methane emissions (kt of CO2 equivalent),Population growth (annual),Population Total,Renewable energy consumption (% of total energy consump),Total greenhouse gas emission (kt of CO2 equivalent)
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,...,2.333333,4.200000,NaN,76.192,73.700,17.3478,2.114386,87277.0,0.157876,NaN
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,...,2.067825,13500.000000,NaN,56.162,54.906,9700.1700,1.947319,19737765.0,44.094337,13793.3670
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,...,48.109089,599776.015625,NaN,47.893,45.763,16087.0000,3.228941,15359601.0,76.819794,35275.1251
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,...,28.218979,7732.000122,NaN,76.269,73.208,2371.4900,-0.629334,3128530.0,49.983365,5246.1311
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,...,34.042553,160.000000,NaN,NaN,NaN,NaN,-0.288007,64142.0,14.458642,NaN

In [23]:
# Urban population_perc_of total population
urban_perc_totalpop_data= os.path.join("Resources/API_SP.URB.TOTL.IN.ZS_DS2_en_csv_v2_718765.csv")
urban_perc_total_pop_df=pd.read_csv(urban_perc_totalpop_data, skiprows=4)

urban_perc_total_pop20y_df = urban_perc_total_pop_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
urban_perc_total_pop20y_dfm = urban_perc_total_pop20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
urban_perc_total_pop20y_dfm = urban_perc_total_pop20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Urban population (% of Tot Pop)"})
urban_perc_total_pop20y_dfm = urban_perc_total_pop20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_urbanpop = pd.merge(merge_greenhouse, urban_perc_total_pop20y_dfm, on=["Country Name", "Year"], how="left")
merge_urbanpop.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",...,Forest area (sq.km),GINI,Life Expectancy Female,Life Expectancy at Birth,Methane emissions (kt of CO2 equivalent),Population growth (annual),Population Total,Renewable energy consumption (% of total energy consump),Total greenhouse gas emission (kt of CO2 equivalent),Urban population (% of Tot Pop)
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,...,4.200000,NaN,76.192,73.700,17.3478,2.114386,87277.0,0.157876,NaN,47.536
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,...,13500.000000,NaN,56.162,54.906,9700.1700,1.947319,19737765.0,44.094337,13793.3670,21.895
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,...,599776.015625,NaN,47.893,45.763,16087.0000,3.228941,15359601.0,76.819794,35275.1251,47.710
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,...,7732.000122,NaN,76.269,73.208,2371.4900,-0.629334,3128530.0,49.983365,5246.1311,40.601
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,...,160.000000,NaN,NaN,NaN,NaN,-0.288007,64142.0,14.458642,NaN,92.927

In [37]:
# Rule of Law
rule_law_data= os.path.join("Resources/rule_law_raw_data.csv")
rule_law_df=pd.read_csv(rule_law_data)

rule_law20y_df = rule_law_df[["Country Name","Indicator Id","1998","2000","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#rule_law20y_df.head()

rule_law20y_df = rule_law20y_df.loc[rule_law20y_df["Indicator Id"]==370]
#rule_law20y_df.head()

# Melt, organizing, renaming
rule_law20y_dfm = rule_law20y_df.melt(id_vars=["Country Name", "Indicator Id"], value_vars=["1998", "2000","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
rule_law20y_dfm = rule_law20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Rule of Law Estimate"})
rule_law20y_dfm = rule_law20y_dfm.drop(columns="Indicator Id")
#rule_law20y_dfm.head()

# Merging to previous dataframes using a inner join
merge_rules = pd.merge(merge_urbanpop, rule_law20y_dfm, on=["Country Name", "Year"], how="inner")
merge_rules.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),Agricultural land (% land area),Bird species threatened,CO2 emissions (kt),CO2 emissions (metric tons per capita),"Droughts, floods, extreme temp (% population)",...,GINI,Life Expectancy Female,Life Expectancy at Birth,Methane emissions (kt of CO2 equivalent),Population growth (annual),Population Total,Renewable energy consumption (% of total energy consump),Total greenhouse gas emission (kt of CO2 equivalent),Urban population (% of Tot Pop),Rule of Law Estimate
0,Aruba,1998,1.991988,-0.141877,100.0,11.111111,NaN,1796.830,20.587669,NaN,...,NaN,76.192,73.700,17.3478,2.114386,87277.0,0.157876,NaN,47.536,NaN
1,Afghanistan,1998,NaN,NaN,NaN,58.001716,NaN,1041.428,0.052763,NaN,...,NaN,56.162,54.906,9700.1700,1.947319,19737765.0,44.094337,13793.3670,21.895,-1.737140
2,Angola,1998,4.691146,1.364724,NaN,46.121761,NaN,7308.331,0.475815,NaN,...,NaN,47.893,45.763,16087.0000,3.228941,15359601.0,76.819794,35275.1251,47.710,-1.700753
3,Albania,1998,8.830088,9.517153,100.0,41.569343,NaN,1752.826,0.560271,NaN,...,NaN,76.269,73.208,2371.4900,-0.629334,3128530.0,49.983365,5246.1311,40.601,-0.924325
4,Andorra,1998,3.194790,3.492427,100.0,48.936170,NaN,491.378,7.660784,NaN,...,NaN,NaN,NaN,NaN,-0.288007,64142.0,14.458642,NaN,92.927,1.213209

In [ ]:
# Melt
gdp_growth20y_dfm= gdp_growth20y_dfm[{"Country Name":"Country Name", "variable":"Year","value":"GDP Growth (% Annual)"}]

gdp_growth20y_dfm.head()
#gdp_pc20y_dfm.head()
#access_electricity20y_dfm

In [ ]:
# Using GroupBy in order to organize the data into fields according to "school" values
grouped_schools_df = data_df.groupby(["school_name","type"])

# In order to be visualized, a data function must be used
#grouped_schools_df.count().head()

# Merge two datasets on "Country Name" so that no data is lost
combined_gdp20y_df = pd.merge(gdp_growth20y_df, gdp_pc20y_df, how="outer", on="Country Name")
combined_gdp20y_df.head()

In [ ]:
# Transpose
#gdp_growth20y_dft = gdp_growth20y_df.transpose()
#gdp_growth20y_dft.head()