In [1]:
# Merging One
%matplotlib notebook

# Dependencies
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Take in all of our data and read it into pandas, change to DataFrame, select only 20y
gpd_growth_data= os.path.join("Resources/API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_713083.csv")
gpd_growth_df=pd.read_csv(gpd_growth_data, skiprows=4)
gdp_growth20y_df = gpd_growth_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#gdp_growth20y_df.head()

# Melt
gdp_growth20y_dfm = gdp_growth20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
#gdp_growth20y_dfm.head()

gdp_growth20y_dfm=gdp_growth20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"GDP Growth (% Annual)"})
gdp_growth20y_dfm=gdp_growth20y_dfm.drop(columns="Indicator Name")

# Take in all of our data and read it into pandas, change to DataFrame, select only 20y
gpd_per_capita_data= os.path.join("Resources/API_NY.GDP.PCAP.KD.ZG_DS2_en_csv_v2_712993.csv")
gpd_per_capita_df=pd.read_csv(gpd_per_capita_data, skiprows=4)
gdp_pc20y_df = gpd_per_capita_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#gdp_pc20y_df.head()
# Melt
gdp_pc20y_dfm = gdp_pc20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
#gdp_pc20y_dfm.head()

gdp_pc20y_dfm=gdp_pc20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"GDP Per Capita"})
gdp_pc20y_dfm=gdp_pc20y_dfm.drop(columns="Indicator Name")
#gdp_pc20y_dfm.head()

# Merge two dataframes using a left join
merge_gdp = pd.merge(gdp_growth20y_dfm, gdp_pc20y_dfm, on=["Country Name", "Year"], how="left")
#merge_gdp.head()

# Take in all of our data and read it into pandas, change to DataFrame, select only 20y
access_electricity_data= os.path.join("Resources/API_EG.ELC.ACCS.ZS_DS2_en_csv_v2_714075.csv")
access_electricity_df=pd.read_csv(access_electricity_data, skiprows=4)
access_electricity20y_df = access_electricity_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#access_electricity20y_df.head()
# Melt
access_electricity20y_dfm = access_electricity20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
#access_electricity20y_dfm.head()

access_electricity20y_dfm=access_electricity20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Access to Electricity (% population)"})
access_electricity20y_dfm=access_electricity20y_dfm.drop(columns="Indicator Name")
#access_electricity20y_dfm.head()

# Merge two dataframes using a left join
merge_gdp_elec = pd.merge(merge_gdp, access_electricity20y_dfm, on=["Country Name", "Year"], how="left")
merge_gdp_elec.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population)
0,Aruba,1998,1.991988,-0.141877,100.0
1,Afghanistan,1998,NaN,NaN,NaN
2,Angola,1998,4.691146,1.364724,NaN
3,Albania,1998,8.830088,9.517153,100.0
4,Andorra,1998,3.194790,3.492427,100.0

In [3]:
# Agricultural land (% of land area)
#perc_agric_land_data= os.path.join("Resources/API_AG.LND.AGRI.ZS_DS2_en_csv_v2_713399.csv")
#perc_agric_land_df=pd.read_csv(perc_agric_land_data, skiprows=4)
#perc_agric_land20y_df = perc_agric_land_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
#                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#
# Melt, organizing, renaming
#perc_agric_land20y_dfm = perc_agric_land20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
#                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
#perc_agric_land20y_dfm = perc_agric_land20y_dfm.rename(columns={"Country Name":"Country Name", 
#                                              "variable":"Year","value":"Agricultural land (% land area)"})
#perc_agric_land20y_dfm = perc_agric_land20y_dfm.drop(columns="Indicator Name")
#perc_agric_land20y_dfm.head()
#
# Merging to previous dataframes using a left join
#merge_gdp_elec_agri = pd.merge(merge_gdp_elec, perc_agric_land20y_dfm, on=["Country Name", "Year"], how="left")
#merge_gdp_elec_agri.head()

# Bird species (threatened)
#bird_threaten_data= os.path.join("Resources/API_EN.BIR.THRD.NO_DS2_en_csv_v2_715614.csv")
#bird_threaten_df=pd.read_csv(bird_threaten_data, skiprows=4)
#
#bird_threaten20y_df = bird_threaten_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
#                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#
# Melt, organizing, renaming
#bird_threaten20y_dfm = bird_threaten20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
#                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
#bird_threaten20y_dfm = bird_threaten20y_dfm.rename(columns={"Country Name":"Country Name", 
#                                              "variable":"Year","value":"Bird species threatened"})
#bird_threaten20y_dfm = bird_threaten20y_dfm.drop(columns="Indicator Name")
#
# Merging to previous dataframes using a left join
#merge_gdp_elec_agri_bird = pd.merge(merge_gdp_elec_agri, bird_threaten20y_dfm, on=["Country Name", "Year"], how="left")
#merge_gdp_elec_agri_bird.head()

In [4]:
# CO2 emissions (kt)
CO2_emissions_data= os.path.join("Resources/API_EN.ATM.CO2E.KT_DS2_en_csv_v2_713263.csv")
CO2_emissions_df=pd.read_csv(CO2_emissions_data, skiprows=4)

CO2_emissions20y_df = CO2_emissions_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
CO2_emissions20y_dfm = CO2_emissions20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
CO2_emissions20y_dfm = CO2_emissions20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"CO2 emissions (kt)"})
CO2_emissions20y_dfm = CO2_emissions20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_gdp_elec_agri_bird_co = pd.merge(merge_gdp_elec, CO2_emissions20y_dfm, on=["Country Name", "Year"], how="left")
#merge_gdp_elec_agri_bird_co.head()

# CO2 emissions (metric tons per capita)
CO2_emissions_mtpc_data= os.path.join("Resources/API_EN.ATM.CO2E.PC_DS2_en_csv_v2_713061.csv")
CO2_emissions_mtpc_df=pd.read_csv(CO2_emissions_mtpc_data, skiprows=4)

CO2_emissions_mtpc20y_df = CO2_emissions_mtpc_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
CO2_emissions_mtpc20y_dfm = CO2_emissions_mtpc20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
CO2_emissions_mtpc20y_dfm = CO2_emissions_mtpc20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"CO2 emissions (metric tons per capita)"})
CO2_emissions_mtpc20y_dfm = CO2_emissions_mtpc20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_gdp_elec_agri_bird_co_co = pd.merge(merge_gdp_elec_agri_bird_co, CO2_emissions_mtpc20y_dfm, on=["Country Name", "Year"], how="left")
merge_gdp_elec_agri_bird_co_co.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),CO2 emissions (kt),CO2 emissions (metric tons per capita)
0,Aruba,1998,1.991988,-0.141877,100.0,1796.830,20.587669
1,Afghanistan,1998,NaN,NaN,NaN,1041.428,0.052763
2,Angola,1998,4.691146,1.364724,NaN,7308.331,0.475815
3,Albania,1998,8.830088,9.517153,100.0,1752.826,0.560271
4,Andorra,1998,3.194790,3.492427,100.0,491.378,7.660784

In [5]:
# Droughts, floods, extreme temperatures (% of population)
#droughts_floods_exttemp_data= os.path.join("Resources/API_EN.CLC.MDAT.ZS_DS2_en_csv_v2_713688.csv")
#droughts_floods_exttemp_df=pd.read_csv(droughts_floods_exttemp_data, skiprows=4)
#
#droughts_floods_exttemp20y_df = droughts_floods_exttemp_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
#                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#
# Melt, organizing, renaming
#droughts_floods_exttemp20y_dfm = droughts_floods_exttemp20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
#                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
#droughts_floods_exttemp20y_dfm = droughts_floods_exttemp20y_dfm.rename(columns={"Country Name":"Country Name", 
#                                              "variable":"Year","value":"Droughts, floods, extreme temp (% population)"})
#droughts_floods_exttemp20y_dfm = droughts_floods_exttemp20y_dfm.drop(columns="Indicator Name")
#
# Merging to previous dataframes using a left join
#merge_droughts = pd.merge(merge_gdp_elec_agri_bird_co_co, droughts_floods_exttemp20y_dfm, on=["Country Name", "Year"], how="left")
#merge_droughts.head()

# Energy use per capita
#energ_use_pc_data= os.path.join("Resources/API_EG.USE.PCAP.KG.OE_DS2_en_csv_v2_715552.csv")
#energ_use_pc_df=pd.read_csv(energ_use_pc_data, skiprows=4)
#
#energ_use_pc20y_df = energ_use_pc_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
#                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#
# Melt, organizing, renaming
#energ_use_pc20y_dfm = energ_use_pc20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
#                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
#energ_use_pc20y_dfm = energ_use_pc20y_dfm.rename(columns={"Country Name":"Country Name", 
#                                              "variable":"Year","value":"Energy use per capita"})
#energ_use_pc20y_dfm = energ_use_pc20y_dfm.drop(columns="Indicator Name")
#
# Merging to previous dataframes using a left join
#merge_eupc = pd.merge(merge_droughts, energ_use_pc20y_dfm, on=["Country Name", "Year"], how="left")
#merge_eupc.head()

In [6]:
# Forest area (% of land area)
perc_forest_area_data= os.path.join("Resources/API_AG.LND.FRST.ZS_DS2_en_csv_v2_712984.csv")
perc_forest_area_df=pd.read_csv(perc_forest_area_data, skiprows=4)

perc_forest_area20y_df = perc_forest_area_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
perc_forest_area20y_dfm = perc_forest_area20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
perc_forest_area20y_dfm = perc_forest_area20y_dfm.rename(columns={"Country Name":"Country Name",
                                                                  "variable":"Year","value":"Forest Area (% of land)"})

perc_forest_area20y_dfm = perc_forest_area20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_forest_area = pd.merge(merge_gdp_elec_agri_bird_co_co, perc_forest_area20y_dfm, on=["Country Name", "Year"], how="left")
#merge_forest_area.head()

# Forest area (sq. km)
forest_area_data= os.path.join("Resources/API_AG.LND.FRST.K2_DS2_en_csv_v2_716262.csv")
forest_area_df=pd.read_csv(forest_area_data, skiprows=4)

forest_area20y_df = forest_area_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
forest_area20y_dfm = forest_area20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
forest_area20y_dfm = forest_area20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Forest area (sq.km)"})
forest_area20y_dfm = forest_area20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_forest_sqkm = pd.merge(merge_forest_area, forest_area20y_dfm, on=["Country Name", "Year"], how="left")
#merge_forest_sqkm.head()

# GINI
gini_data= os.path.join("Resources/API_SI.POV.GINI_DS2_en_csv_v2_713026.csv")
gini_df=pd.read_csv(gini_data, skiprows=4)

gini20y_df = gini_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
gini20y_dfm = gini20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
gini20y_dfm = gini20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"GINI"})
gini20y_dfm = gini20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_gini = pd.merge(merge_forest_sqkm, gini20y_dfm, on=["Country Name", "Year"], how="left")
merge_gini.head()

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),CO2 emissions (kt),CO2 emissions (metric tons per capita),Forest Area (% of land),Forest area (sq.km),GINI
0,Aruba,1998,1.991988,-0.141877,100.0,1796.830,20.587669,2.333333,4.200000,NaN
1,Afghanistan,1998,NaN,NaN,NaN,1041.428,0.052763,2.067825,13500.000000,NaN
2,Angola,1998,4.691146,1.364724,NaN,7308.331,0.475815,48.109089,599776.015625,NaN
3,Albania,1998,8.830088,9.517153,100.0,1752.826,0.560271,28.218979,7732.000122,NaN
4,Andorra,1998,3.194790,3.492427,100.0,491.378,7.660784,34.042553,160.000000,NaN

In [7]:
# Life expectancy Female
#life_exp_female_data= os.path.join("Resources/API_SP.DYN.LE00.FE.IN_DS2_en_csv_v2_718212.csv")
#life_exp_female_df=pd.read_csv(life_exp_female_data, skiprows=4)
#
#life_exp_female20y_df = life_exp_female_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
#                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#
# Melt, organizing, renaming
#life_exp_female20y_dfm = life_exp_female20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
#                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
#life_exp_female20y_dfm = life_exp_female20y_dfm.rename(columns={"Country Name":"Country Name", 
#                                              "variable":"Year","value":"Life Expectancy Female"})
#life_exp_female20y_dfm = life_exp_female20y_dfm.drop(columns="Indicator Name")
#
# Merging to previous dataframes using a left join
#merge_lefemale = pd.merge(merge_gini, life_exp_female20y_dfm, on=["Country Name", "Year"], how="left")
#merge_lefemale.head()

# Life expectancy at birth
#life_expc_ab_data= os.path.join("Resources/API_SP.DYN.LE00.IN_DS2_en_csv_v2_713010.csv")
#life_expc_ab_df=pd.read_csv(life_expc_ab_data, skiprows=4)
#
#life_expc_ab20y_df = life_expc_ab_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
#                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#
# Melt, organizing, renaming
#life_expc_ab20y_dfm = life_expc_ab20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
#                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
#life_expc_ab20y_dfm = life_expc_ab20y_dfm.rename(columns={"Country Name":"Country Name", 
#                                              "variable":"Year","value":"Life Expectancy at Birth"})
#life_expc_ab20y_dfm = life_expc_ab20y_dfm.drop(columns="Indicator Name")
#
# Merging to previous dataframes using a left join
#merge_le_atb = pd.merge(merge_lefemale, life_expc_ab20y_dfm, on=["Country Name", "Year"], how="left")
#merge_le_atb.head()

In [8]:
# Methane emissions (kt of CO2 equivalent)
methane_emissions_data= os.path.join("Resources/API_EN.ATM.METH.KT.CE_DS2_en_csv_v2_717026.csv")
methane_emissions_df=pd.read_csv(methane_emissions_data, skiprows=4)

methane_emissions20y_df = methane_emissions_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
methane_emissions20y_dfm = methane_emissions20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
methane_emissions20y_dfm  = methane_emissions20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Methane emissions (kt of CO2 equivalent)"})
methane_emissions20y_dfm  = methane_emissions20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_methane = pd.merge(merge_gini, methane_emissions20y_dfm, on=["Country Name", "Year"], how="left")
#merge_methane.head()

# Population growth (annual %)
pop_grow_data= os.path.join("Resources/API_SP.POP.GROW_DS2_en_csv_v2_715046.csv")
pop_grow_df=pd.read_csv(pop_grow_data, skiprows=4)

pop_grow20y_df = pop_grow_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
pop_grow20y_dfm = pop_grow20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
pop_grow20y_dfm = pop_grow20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Population growth (annual)"})
pop_grow20y_dfm = pop_grow20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_popgrow = pd.merge(merge_methane, pop_grow20y_dfm, on=["Country Name", "Year"], how="left")
#merge_popgrow.head()

# Population Total
pop_total_data= os.path.join("Resources/API_SP.POP.TOTL_DS2_en_csv_v2_713131.csv")
pop_total_df=pd.read_csv(pop_total_data, skiprows=4)

pop_total20y_df = pop_total_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
pop_total20y_dfm = pop_total20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
pop_total20y_dfm = pop_total20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Population Total"})
pop_total20y_dfm = pop_total20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_pop_tot = pd.merge(merge_popgrow, pop_total20y_dfm, on=["Country Name", "Year"], how="left")
#merge_pop_tot.head()

# Renewable energy consumption (% of total final energy consumption)
renew_energy_consumpt_data= os.path.join("Resources/API_EG.FEC.RNEW.ZS_DS2_en_csv_v2_716974.csv")
renew_energy_consumpt_df=pd.read_csv(renew_energy_consumpt_data, skiprows=4)

renew_energy_consumpt20y_df = renew_energy_consumpt_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
renew_energy_consumpt20y_dfm = renew_energy_consumpt20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
renew_energy_consumpt20y_dfm = renew_energy_consumpt20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Renewable energy consumption (% of total energy consump)"})
renew_energy_consumpt20y_dfm = renew_energy_consumpt20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_renew = pd.merge(merge_pop_tot, renew_energy_consumpt20y_dfm, on=["Country Name", "Year"], how="left")
#merge_renew.head()

# Total greenhouse gas emissions (kt of CO2 equivalent)
total_ghge_data= os.path.join("Resources/API_EN.ATM.GHGT.KT.CE_DS2_en_csv_v2_717015.csv")
total_ghge_df=pd.read_csv(total_ghge_data, skiprows=4)

total_ghge20y_df = total_ghge_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
total_ghge20y_dfm = total_ghge20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
total_ghge20y_dfm = total_ghge20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Total greenhouse gas emission (kt of CO2 equivalent)"})
total_ghge20y_dfm = total_ghge20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_greenhouse = pd.merge(merge_renew, total_ghge20y_dfm, on=["Country Name", "Year"], how="left")
#merge_greenhouse.head()

# Urban population_perc_of total population
urban_perc_totalpop_data= os.path.join("Resources/API_SP.URB.TOTL.IN.ZS_DS2_en_csv_v2_718765.csv")
urban_perc_total_pop_df=pd.read_csv(urban_perc_totalpop_data, skiprows=4)

urban_perc_total_pop20y_df = urban_perc_total_pop_df[["Country Name","Indicator Name","1998","1999","2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]

# Melt, organizing, renaming
urban_perc_total_pop20y_dfm = urban_perc_total_pop20y_df.melt(id_vars=["Country Name", "Indicator Name"], value_vars=["1998", "1999", "2000","2001","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
urban_perc_total_pop20y_dfm = urban_perc_total_pop20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Urban population (% of Tot Pop)"})
urban_perc_total_pop20y_dfm = urban_perc_total_pop20y_dfm.drop(columns="Indicator Name")

# Merging to previous dataframes using a left join
merge_urbanpop = pd.merge(merge_greenhouse, urban_perc_total_pop20y_dfm, on=["Country Name", "Year"], how="left")
#merge_urbanpop.head()

In [9]:
# NOTE TO THE TEAM: Years changed. Now from 2002 to 2018 only. 
# Rule of Law
rule_law_data= os.path.join("Resources/rule_law_raw_data.csv")
rule_law_df=pd.read_csv(rule_law_data)

rule_law20y_df = rule_law_df[["Country Name","Indicator Id","2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"]]
#rule_law20y_df.head()

# Filter, selecting only Rule of Law Estimate (indicator id = 370 in the database)
rule_law20y_df = rule_law20y_df.loc[rule_law20y_df["Indicator Id"]==370]
#rule_law20y_df.head()

# Melt, organizing, renaming
rule_law20y_dfm = rule_law20y_df.melt(id_vars=["Country Name", "Indicator Id"], value_vars=["2002","2003","2004","2005","2006",
                    "2007","2008","2009","2010","2011","2012","2013","2014", "2015","2016","2017","2018"])
rule_law20y_dfm = rule_law20y_dfm.rename(columns={"Country Name":"Country Name", 
                                              "variable":"Year","value":"Rule of Law Estimate"})
rule_law20y_dfm = rule_law20y_dfm.drop(columns="Indicator Id")
#rule_law20y_dfm.head()

# Merging to previous dataframes using a inner join
merge_rules = pd.merge(merge_urbanpop, rule_law20y_dfm, on=["Country Name", "Year"], how="inner")
#merge_rules.to_csv(index=False)
merge_rules.to_csv("all_data_raw.csv")
merge_rules

,Country Name,Year,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),CO2 emissions (kt),CO2 emissions (metric tons per capita),Forest Area (% of land),Forest area (sq.km),GINI,Methane emissions (kt of CO2 equivalent),Population growth (annual),Population Total,Renewable energy consumption (% of total energy consump),Total greenhouse gas emission (kt of CO2 equivalent),Urban population (% of Tot Pop),Rule of Law Estimate
0,Aruba,2002,-3.273647,-5.405879,100.000000,2438.555,25.671162,2.333333,4.200000,NaN,18.9009,2.229056,94992.0,0.181391,NaN,45.972,NaN
1,Afghanistan,2002,NaN,NaN,NaN,1070.764,0.047377,2.067825,13500.000000,NaN,9929.4300,4.496720,22600770.0,43.771149,13842.73810,22.261,-1.670823
2,Angola,2002,13.665687,9.943764,25.073256,12665.818,0.722959,47.708670,594783.984375,NaN,15694.8000,3.329257,17519417.0,72.125126,34490.36900,52.461,-1.617329
3,Albania,2002,4.539961,4.853922,100.000000,3751.341,1.229541,28.267882,7745.399780,31.7,2333.2200,-0.299877,3051010.0,35.896294,7503.05976,43.501,-0.762147
4,Andorra,2002,6.471015,2.354989,100.000000,531.715,7.590615,34.042553,160.000000,NaN,NaN,3.942573,70049.0,16.221819,NaN,91.641,1.252001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3446,Kosovo,2018,3.813314,2.991943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.794346,1845300.0,NaN,NaN,NaN,-0.370978
3447,"Yemen, Rep.",2018,-2.701475,-4.968007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.357023,28498687.0,NaN,NaN,36.642,-1.790394
3448,South Africa,2018,0.787056,-0.572080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.357697,57779622.0,NaN,NaN,66.355,-0.102496
3449,Zambia,2018,3.794901,0.815169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.912801,17351822.0,NaN,NaN,43.521,-0.344939
3450,Zimbabwe,2018,6.159190,4.672029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.410783,14439018.0,NaN,NaN,32.209,-1.273630

In [10]:
# Exploring the Data
merge_rules.describe()

,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),CO2 emissions (kt),CO2 emissions (metric tons per capita),Forest Area (% of land),Forest area (sq.km),GINI,Methane emissions (kt of CO2 equivalent),Population growth (annual),Population Total,Renewable energy consumption (% of total energy consump),Total greenhouse gas emission (kt of CO2 equivalent),Urban population (% of Tot Pop),Rule of Law Estimate
count,3348.000000,3348.000000,3147.000000,2.525000e+03,2526.000000,2955.000000,2.967000e+03,1068.000000,2.139000e+03,3444.000000,3.444000e+03,2796.000000,1.947000e+03,3427.000000,3417.000000
mean,3.766921,2.291656,79.534348,1.537307e+05,4.779906,32.306958,2.017800e+05,37.577809,3.845678e+04,1.424297,3.404809e+07,31.020780,2.623808e+05,58.066771,-0.023743
std,5.603869,5.431431,29.856358,7.094036e+05,6.497929,24.171652,7.729880e+05,8.674008,1.293809e+05,1.559844,1.316840e+08,30.087748,9.341856e+05,24.085108,0.999521
min,-62.075920,-62.378077,1.500000,7.334000e+00,0.000000,0.000000,0.000000e+00,23.700000,0.000000e+00,-9.080638,9.596000e+03,0.000000,5.034354e+00,8.682000,-2.606445
25%,1.604846,0.246930,62.522999,1.536473e+03,0.623158,11.014434,2.170000e+03,30.800000,1.616930e+03,0.465618,1.263256e+06,4.655818,1.149266e+04,37.841500,-0.795707
50%,3.713690,2.225752,98.597701,8.800800e+03,2.382644,31.870266,2.185000e+04,35.600000,7.763000e+03,1.266838,6.810436e+06,20.282865,4.962318e+04,58.282000,-0.168291
75%,6.111275,4.435489,100.000000,6.174495e+04,6.647208,50.005454,1.040200e+05,43.300000,2.385260e+04,2.337659,2.251483e+07,52.258897,1.522060e+05,77.367000,0.761684
max,123.139555,121.779543,100.000000,1.029193e+07,63.828097,98.608974,8.151356e+06,64.800000,1.752290e+06,17.510948,1.392730e+09,98.270035,1.245471e+07,100.000000,2.100273

In [11]:
# Exploring the Data
merge_rules.columns

Index(['Country Name', 'Year', 'GDP Growth (% Annual)', 'GDP Per Capita',
       'Access to Electricity (% population)', 'CO2 emissions (kt)',
       'CO2 emissions (metric tons per capita)', 'Forest Area (% of land)',
       'Forest area (sq.km)', 'GINI',
       'Methane emissions (kt of CO2 equivalent)',
       'Population growth (annual)', 'Population Total',
       'Renewable energy consumption (% of total energy consump)',
       'Total greenhouse gas emission (kt of CO2 equivalent)',
       'Urban population (% of Tot Pop)', 'Rule of Law Estimate'],
      dtype='object')

In [12]:
# Exploring the Data
merge_rules.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3451 entries, 0 to 3450
Data columns (total 17 columns):
Country Name                                                3451 non-null object
Year                                                        3451 non-null object
GDP Growth (% Annual)                                       3348 non-null float64
GDP Per Capita                                              3348 non-null float64
Access to Electricity (% population)                        3147 non-null float64
CO2 emissions (kt)                                          2525 non-null float64
CO2 emissions (metric tons per capita)                      2526 non-null float64
Forest Area (% of land)                                     2955 non-null float64
Forest area (sq.km)                                         2967 non-null float64
GINI                                                        1068 non-null float64
Methane emissions (kt of CO2 equivalent)                    2139 non-null float64
Population growth (annual)                                  3444 non-null float64
Population Total                                            3444 non-null float64
Renewable energy consumption (% of total energy consump)    2796 non-null float64
Total greenhouse gas emission (kt of CO2 equivalent)        1947 non-null float64
Urban population (% of Tot Pop)                             3427 non-null float64
Rule of Law Estimate                                        3417 non-null float64
dtypes: float64(15), object(2)
memory usage: 485.3+ KB

In [14]:
# Filter, selecting only OECD members before 2002 (i.e., only 30 countries, currently there are 36 countries)
# example: df.loc[df['B'].isin(['one','three'])]
merge_rules_OECD = merge_rules.loc[merge_rules["Country Name"].isin(["Canada","United States",
                                                                "United Kingdom","Denmark","Iceland",
                                                                "Norway", "Turkey", "Spain", "Portugal", 
                                                                "France","Ireland","Belgium","Germany",
                                                                "Greece","Sweden","Switzerland","Austria",
                                                                "Netherlands","Luxembourg","Italy","Japan",
                                                                "Finland","Australia","New Zealand","Mexico",
                                                                "Czech Republic","Hungary","Poland",
                                                                "South Korea","Slovakia"])]

# print
merge_rules_OECD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 476 entries, 10 to 3438
Data columns (total 17 columns):
Country Name                                                476 non-null object
Year                                                        476 non-null object
GDP Growth (% Annual)                                       476 non-null float64
GDP Per Capita                                              476 non-null float64
Access to Electricity (% population)                        440 non-null float64
CO2 emissions (kt)                                          364 non-null float64
CO2 emissions (metric tons per capita)                      364 non-null float64
Forest Area (% of land)                                     420 non-null float64
Forest area (sq.km)                                         420 non-null float64
GINI                                                        302 non-null float64
Methane emissions (kt of CO2 equivalent)                    308 non-null float64
Population growth (annual)                                  476 non-null float64
Population Total                                            476 non-null float64
Renewable energy consumption (% of total energy consump)    392 non-null float64
Total greenhouse gas emission (kt of CO2 equivalent)        308 non-null float64
Urban population (% of Tot Pop)                             476 non-null float64
Rule of Law Estimate                                        476 non-null float64
dtypes: float64(15), object(2)
memory usage: 66.9+ KB

In [15]:
# Exploring the Data
merge_rules_OECD.describe()

,GDP Growth (% Annual),GDP Per Capita,Access to Electricity (% population),CO2 emissions (kt),CO2 emissions (metric tons per capita),Forest Area (% of land),Forest area (sq.km),GINI,Methane emissions (kt of CO2 equivalent),Population growth (annual),Population Total,Renewable energy consumption (% of total energy consump),Total greenhouse gas emission (kt of CO2 equivalent),Urban population (% of Tot Pop),Rule of Law Estimate
count,476.000000,476.000000,440.000000,3.640000e+02,364.000000,420.000000,4.200000e+02,302.000000,308.000000,476.000000,4.760000e+02,392.000000,3.080000e+02,476.000000,476.000000
mean,2.075427,1.370870,99.959841,4.291550e+05,9.209411,31.587603,3.721024e+05,32.184768,54280.350006,0.689975,4.113397e+07,17.860652,5.717552e+05,78.142256,1.367956
std,2.858996,2.740940,0.236988,1.014772e+06,4.374653,17.005269,8.458108e+05,4.954071,99427.928446,0.667451,6.195329e+07,16.719699,1.265115e+06,10.090480,0.650052
min,-9.132494,-8.997955,97.583931,1.800497e+03,3.157334,0.318005,3.188000e+02,24.900000,331.714000,-1.853715,2.875230e+05,0.934980,3.941862e+03,55.666000,-0.673711
25%,0.939438,0.318952,100.000000,4.728046e+04,5.928351,20.440836,1.772000e+04,28.100000,8566.155807,0.241884,6.912926e+06,6.831548,7.249428e+04,73.299750,1.020488
50%,2.194380,1.505218,100.000000,1.074853e+05,8.345137,32.205275,9.194700e+04,31.800000,18756.311195,0.619064,1.096018e+07,11.308181,1.400727e+05,79.380000,1.642394
75%,3.469159,2.476582,100.000000,3.888102e+05,10.362919,35.705361,1.937475e+05,34.300000,65102.258788,1.122350,6.045764e+07,23.158394,5.656333e+05,85.427000,1.852394
max,25.162533,23.985510,100.000000,5.789727e+06,24.824647,73.292620,3.477116e+06,50.100000,551252.000000,2.919685,3.271674e+08,77.344681,7.244272e+06,98.001000,2.100273

In [ ]:
# IT WORKS WITH ONE VARIABLE, BUT NOT WITH MORE, SO IT DOESN'T WORK NOW
#Filter, selecting only OECD members before 2002 (i.e., only 30 countries, currently there are 36 countries)
merge_rules = merge_rules.loc[(merge_rules["Country Name"]=="Canada") & (merge_rules["Country Name"]=="United States") & 
                              (merge_rules["Country Name"]=="United Kingdom") & (merge_rules["Country Name"]=="Denmark") & 
                              (merge_rules["Country Name"]=="Iceland") & (merge_rules["Country Name"]=="Norway") & 
                              (merge_rules["Country Name"]=="Turkey") & (merge_rules["Country Name"]=="Spain") & 
                              (merge_rules["Country Name"]=="Portugal") & (merge_rules["Country Name"]=="France") & 
                              (merge_rules["Country Name"]=="Ireland") & (merge_rules["Country Name"]=="Belgium") & 
                              (merge_rules["Country Name"]=="Germany") & (merge_rules["Country Name"]=="Greece") & 
                              (merge_rules["Country Name"]=="Sweden") & (merge_rules["Country Name"]=="Switzerland") & 
                              (merge_rules["Country Name"]=="Austria") & (merge_rules["Country Name"]=="Netherlands") & 
                              (merge_rules["Country Name"]=="Luxembourg") & (merge_rules["Country Name"]=="Italy") & 
                              (merge_rules["Country Name"]=="Japan") & (merge_rules["Country Name"]=="Finland") & 
                              (merge_rules["Country Name"]=="Australia") & (merge_rules["Country Name"]=="New Zealand") & 
                              (merge_rules["Country Name"]=="Mexico") & (merge_rules["Country Name"]=="Czech Republic") & 
                              (merge_rules["Country Name"]=="Hungary") & (merge_rules["Country Name"]=="Poland") & 
                              (merge_rules["Country Name"]=="South Korea") & (merge_rules["Country Name"]=="Slovakia")
                             ] 
merge_rules.info()

In [ ]:
# Filter, selecting only OECD members before 2002 (i.e., only 30 countries, currently there are 36 countries)
merge_rules = merge_rules.loc[merge_rules["Country Name"]=="Canada"] 
                              
                             
                              , , , , , ,
                             , , , ]

df.loc[(df['column_name'] >= A) & (df['column_name'] <= B)]

# Printing, checking if it works
merge_rules

In [ ]:
gp = merge_rules.groupby(["Country Name"]).mean()
gp

In [ ]:
gp.sort_values(by="Rule of Law Estimate", ascending=False).head(20)

In [ ]:
gp.sort_values(by="Rule of Law Estimate", ascending=False).tail(20)

In [ ]:
# Melt
gdp_growth20y_dfm= gdp_growth20y_dfm[{"Country Name":"Country Name", "variable":"Year","value":"GDP Growth (% Annual)"}]

gdp_growth20y_dfm.head()
#gdp_pc20y_dfm.head()
#access_electricity20y_dfm

In [ ]:
# Using GroupBy in order to organize the data into fields according to "school" values
grouped_schools_df = data_df.groupby(["school_name","type"])

# In order to be visualized, a data function must be used
#grouped_schools_df.count().head()

# Merge two datasets on "Country Name" so that no data is lost
combined_gdp20y_df = pd.merge(gdp_growth20y_df, gdp_pc20y_df, how="outer", on="Country Name")
combined_gdp20y_df.head()

In [ ]:
# Transpose
#gdp_growth20y_dft = gdp_growth20y_df.transpose()
#gdp_growth20y_dft.head()