In [1]:
import pandas as pd
import os

forest_area_data= os.path.join("Resources/API_AG.LND.FRST.K2_DS2_en_csv_v2_716262.csv")
forest_area_df=pd.read_csv(forest_area_data, skiprows=4)
forest_area_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,4.200000,4.200000,4.200000,4.200000,4.2,4.200000,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,13500.000000,13500.000000,13500.000000,13500.000000,13500.0,13500.000000,NaN,NaN,NaN,NaN
2,Angola,AGO,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,583551.992188,582303.984375,581056.015625,579808.007812,578560.0,577311.992188,NaN,NaN,NaN,NaN
3,Albania,ALB,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,7753.400269,7743.800049,7734.199829,7724.600220,7715.0,7705.399780,NaN,NaN,NaN,NaN
4,Andorra,AND,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,160.000000,160.000000,160.000000,160.000000,160.0,160.000000,NaN,NaN,NaN,NaN