In [1]:
import pandas as pd
import os

refugee_country_origin_data= os.path.join("API_SM.POP.REFG.OR_DS2_en_csv_v2_718614.csv")
refugee_country_origin_df=pd.read_csv(refugee_country_origin_data, skiprows=4)
refugee_country_origin_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,Refugee population by country or territory of ...,SM.POP.REFG.OR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Refugee population by country or territory of ...,SM.POP.REFG.OR,NaN,NaN,NaN,NaN,NaN,NaN,...,2664436.0,2586152.0,2556502.0,2596270.0,2666305.0,2501445.0,2624225.0,2681269.0,NaN,NaN
2,Angola,AGO,Refugee population by country or territory of ...,SM.POP.REFG.OR,NaN,NaN,NaN,NaN,NaN,NaN,...,128664.0,19258.0,10286.0,9484.0,11869.0,8404.0,8267.0,8253.0,NaN,NaN
3,Albania,ALB,Refugee population by country or territory of ...,SM.POP.REFG.OR,NaN,NaN,NaN,NaN,NaN,NaN,...,13551.0,12568.0,10103.0,10158.0,10408.0,11065.0,12163.0,13518.0,NaN,NaN
4,Andorra,AND,Refugee population by country or territory of ...,SM.POP.REFG.OR,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,7.0,5.0,7.0,5.0,2.0,NaN,3.0,NaN,NaN